<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
        <button class="logout-btn">
            <i class="fas fa-sign-out-alt"></i> Logout
        </button>        
        
        <div class="content-area">
            <div class="left-side">
                <h1>Plan Your Trip</h1>
                <h1>Start Your Search Here!</h1>
                <br>
                
                <div class="metro">
                    <img src="metro.png" alt="metro">
                </div>
    
            </div>
    
            
            <div class="right-side">        
                <div class="stage-card">
                    
                    <h3>
                        <i class="fa-solid fa-car"></i>
                         Reserve Any Type of Vehicle With Ease!
                    </h3>
                    <p>Whether you're looking for a bus, train, or even a car, we've got you covered! Our platform allows you to book any type of vehicle to match your travel needs—be it a quick city ride, a long-distance journey, or a group trip. Choose your preferred option, reserve with just a few clicks, and enjoy a hassle-free travel experience!</p>
                
                    
                    <a href="region.html" class="postuler">
                        <button class="bouton-postuler">
                            Make A Reservation
                        </button>
                    
                    </a>
                </div>    
                    
            </div>
        </div>
        <button class="borne">
            <a href="https://www.google.com/maps/search/borne+de+recharge+de+v%C3%A9hicules+%C3%A9lectriques/@36.6807778,2.768084,8.87z?entry=ttu&g_ep=EgoyMDI1MDIxOS4xIKXMDSoASAFQAw%3D%3D">
                <i class="fas fa-map-marker-alt"></i>
                Geolocate <span>Electric Vehicle Charging Stations </span> Near You
            </a>
        

        </button>
    </div>
    
    <script src="home.js">
    </script>
</body>
</html>
