<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login">
        <h1>Welcome</h1>

        <div class="form__group field">
            <input type="email" class="form__field" placeholder="Email" id='email' required />
            <label for="email" class="form__label">Email</label>
        </div>

        <div class="form__group field">
            <input type="password" class="form__field" placeholder="Password"  id='name' required />
            <label for="password" class="form__label">Password</label>
        </div><br>

        <div>
            <button type="submit" class="loginbutton">Se Connecter</button>
        </div>
        
    </div>
    
</body>
<script src="login.js" > </script>
</html>