<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Region</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="region.css">
</head>
<body>
    <div class="choose">
        <h1>Choose A Region</h1>
        <select type="text">
            <option>Alger</option>
        </select><br>
        <a href="transport.html" class="button">Go!</a>
    </div>
    
</body>
</html>