<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login">
        <h1>Sign Up</h1>

        <div class="form__group field">
            <input type="text" class="form__field" placeholder="Name" id='name' required />
            <label for="name" class="form__label">Name</label>
        </div>

        <div class="form__group field">
            <input type="email" class="form__field" placeholder="Email" id='email' required />
            <label for="email" class="form__label">Email</label>
        </div>

        <div class="form__group field">
            <input type="password" class="form__field" placeholder="Password"  id='name' required />
            <label for="password" class="form__label">Password</label>
        </div>

        <div class="form__group field">
            <input type="tel" class="form__field" placeholder="Phone" id='name' required />
            <label for="phone" class="form__label">Phone Number</label>
        </div><br>

        <div>
            <button type="submit" class="loginbutton">Sign Up</button>
        </div>
        
    </div>
    
</body>
</html>
