<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transport Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="transport.css">
</head>
<body>
    <div class="container">
        
        <div class="content-area">
            <div class="left-side">
                
                <div class="search-container">

                    <h3>How do you want to go ?</h3>
                    <div class="featured-tags">                
                        <div class="tag">Car</div>
                        <div class="tag">Bus</div>
                        <div class="tag">Train</div>
                        <div class="tag">Metro</div>
                    </div>
                    <br>

                    <div class="search-tabs">
                        <button class="active">
                            <i class="fas fa-th-list"></i> All
                        </button>
                
                        <button>
                            <i class="fas fa-clock"></i> Recent
                        </button>
                
                    </div>
                    
                    
                    <div class="search-box">    
                        <input type="text" placeholder="Where do you want to go?">
                        <button>
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
    
                </div>
    
            </div>
    
            
            <div class="right-side">        
                <div class="stage-card">
                    
                    <h3>
                        <i class="fa-solid fa-bus"></i>
                        Bus Trip
                    </h3>
    
                    
                    <div class="stage-detail">                
                        <i class="fas fa-building" style="color: var(--sage);"></i>
                        <span>Start Point</span>
                    </div>
                    
                    <div class="stage-detail">
                        <i class="fas fa-map-marker-alt" style="color: var(--golden);"></i>
                        <span>Destination</span>
                    </div>
                    
                    <div class="stage-detail">
                        <i class="fas fa-clock" style="color: var(--sage);"></i>
                        <span>3 hours</span>
                    </div>
                
                    
                    <div class="postuler">
                        <button class="bouton-postuler">
                            Reserve
                        </button>
                    
                    </div>
                </div>

                <div class="stage-card">
                    
                    <h3> <i class="fa-solid fa-car"></i>
                        Car Trip
                    </h3>
    
                    
                    <div class="stage-detail">                
                        <i class="fas fa-building" style="color: var(--sage);"></i>
                        <span>Start Point</span>
                    </div>
                    
                    <div class="stage-detail">
                        <i class="fas fa-map-marker-alt" style="color: var(--golden);"></i>
                        <span>Destination</span>
                    </div>
                    
                    <div class="stage-detail">
                        <i class="fas fa-clock" style="color: var(--sage);"></i>
                        <span>2h 30min</span>
                    </div>
                
                    
                    <div class="postuler">
                        <button class="bouton-postuler">
                            Reserve
                        </button>
                    
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
    <script src="home.js">
    </script>
</body>
</html>